.ex-1-square {
    transition: 4s;
    cursor: pointer;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 1s;
    cursor: pointer;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
    cursor: pointer;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: opacity 2s;
    cursor: pointer;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: transform 2s;
    cursor: pointer;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(.6) sepia(.5);
}

.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    filter: grayscale(.6) opacity(.6);
    border-radius: 30px;
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: grayscale(.6) sepia(.5);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: ruota 1s linear infinite;
}

@keyframes ruota {
    from{transform: rotate(0);}
    to{transform: rotate(-360deg);}
}

.ex-11-icon:hover {
    animation: gira-orario 2s linear;
}
@keyframes gira-orario {
    0% {transform: rotate(0);}
    90% {transform: rotate(300deg);}
    100% {transform: rotate(0);}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: bottone 2s linear;
}

@keyframes bottone {
    0% {left: 10%;}
    50% {left: calc(100% - 60px);}
    100% {left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: rettangolo 2s linear;
}

@keyframes rettangolo {
    0% {right: 20%;}
    50% {right: calc(100% - 60px);}
    100% {right: 20%;}
}

.ex-13-button:hover .ex-13-top-white {
    animation: tutto-giro 4s linear;
}

@keyframes tutto-giro {
    0% { left: 10%; top: -10px;}
    30% { left: calc(100% - 30px); top: -10px;}
    40% { left: calc(100% - 30px); top: calc(100% - 10px);}
    50% { left: calc(90% - 60px); top: calc(100% - 10px);}
    80% {left: -20px; top: calc(100% - 10px);}
    90% {left: -20px; top: -10px;}
    100% {left: 10%;top: -10px;}
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: tutto-giro 5s linear;
}

@keyframes tutto-giro {
    0% {right: 20%; bottom: -10px;}
    30% {right: calc(100% - 40px); bottom: -10px;}
    40% {right: calc(100% - 30px); bottom: calc(100% - 10px);}
    50% {right: calc(80% - 60px); bottom: calc(100% - 10px);}
    75% {right: 0;bottom: 100%;}
    90% {right: -15px;bottom: -10px;}
    100% { bottom: -10px;right: 20%;}
}
